/* Define CSS variables for common colors and styles */
:root {
  --primary-bg-color: #cdd9fd;
  --text-color: white;
  --color-foam: #ffffff24;
  --color-granite: #252629;
  --link-text-color: black;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --border-color: black;
  --highlight-color: rgba(0, 0, 139, 0.482);
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --logo-font-family: "Pacifico";
  --border-radius-large: 50px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.1rem;
}

html {
  background-image: linear-gradient(
    to right,
    rgba(32, 48, 94, 0.403) 0%,
    rgba(16, 28, 60, 0.3) 20%,
    rgba(32, 48, 94, 0.407) 80%
  );
  /* background-image: url("https://cdn.pixabay.com/photo/2015/12/19/16/24/paper-1099962_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

body {
  width: 600px;
  margin: auto;
  padding: 0px 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(252, 252, 252);
  box-shadow: var(--color-granite) 0px 2px 8px;
  text-align: center;
  border: 1px solid var(--color-granite);
  border-radius: 1rem;
  z-index: 200;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  padding: 5px;
  font-size: var(--font-size-medium);
  width: 100%;
}

.logo {
  font-family: var(--logo-font-family);
  color: var(--highlight-color);
  font-size: 2rem;
  text-shadow: none;
  letter-spacing: 2px;
}

header a {
  font-family: var(--heading-font-family);
  text-decoration: none;
  color: var(--link-text-color);
  font-size: var(--font-size-medium);
  font-weight: bolder;
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: none;
}

a:hover {
  cursor: pointer;
}

.main-container {
  width: auto;
  height: 40vh;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-small);
  padding: 25px;
  background-color: var(--color-foam);
  box-shadow: var(--color-granite) 0px 2px 8px;
  text-align: center;
  border: 1px solid var(--color-granite);
  border-radius: 1rem;
}

.foto {
  height: 270px;
  width: 280px;
  border-radius: 40%;
  border: 1px solid black;
}

.aboutme,
.skills,
.projects,
.contact,
.profiles {
  position: relative;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: var(--color-foam);
  box-shadow: var(--color-granite) 0px 2px 8px;
  text-align: center;
  border: 1px solid var(--color-granite);
  border-radius: 1rem;
}

footer {
  height: 50px;
}

.projects a,
footer a {
  text-decoration: none;
  border-radius: ;
  padding: 5px;
  color: var(--link-text-color);
}

.projects a:visited,
footer a:visited {
  color: var(--link-text-color);
}

nav button {
  border-radius: var(--border-radius-small);
  box-shadow: none;
  background-color: var(--primary-bg-color);
}

nav button:hover {
  background-color: var(--highlight-color);
  color: var(--link-text-color);
}

.projects .btn {
  background-color: var(--primary-bg-color);
  border: solid 2px black;
  border-radius: 20px 20px 20px 20px;
}

.projects .btn:hover {
  background-color: var(--highlight-color);
}

/* Responsive styles */
.cards-border {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius-large);
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 calc(33% - 40px); /* Responsive card width */
  max-width: calc(33% - 40px); /* Prevent card overflow */
  box-shadow: var(--shadow-color); /* Added shadow for visibility */
  background-color: white; /* Ensure background color for visibility */
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-small);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.footer {
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-medium);
  background-color: var(--primary-bg-color);
  box-shadow: var(--shadow-color);
}

p {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-small);
}

/* Media Queries */

/* Kleine Bildschirme (bis 600px) */
@media (max-width: 600px) {
  .cards-border {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .navbar div {
    margin-bottom: 10px;
  }
}

/* Tablets (601px bis 820px) */
@media (min-width: 601px) and (max-width: 820px) {
  .cards-border {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
  }

  .navbar div {
    margin: 0 10px;
  }
}

/* Mittlere Desktop-Bildschirme (821px bis 1199px) */
@media (min-width: 821px) and (max-width: 1199px) {
  .cards-border {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
  }

  .navbar div {
    margin: 0 10px;
  }
}

/* Große Desktop-Bildschirme (ab 1200px) */

@media (min-width: 1200px) {
  .main-container {
    flex-direction: row; /* Change to row layout for larger screens */
    align-items: center; /* Center align items */
  }

  .text {
    max-width: 500px; /* Adjust max-width */
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Add margin for spacing */
  }

  body {
    width: 70%;
    margin: auto;
  }

  .logo {
    font-size: 2rem;
  }

  .nav-container {
    font-size: var(--font-size-large);
  }

  .cards-border {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .project-card {
    flex: 1 1 calc(33% - 40px);
    max-width: calc(33% - 40px);
  }
}

.contact-icons:hover {
  background-color: var(--highlight-color);
}

.contact-icons {
  border-radius: 20%;
  margin: 10px;
}

.aboutme {
  position: relative;
}
.aboutme-icon {
  position: absolute;
  left: 20px;
  top: 20px;

  border-radius: var(--border-radius-small);
  filter: brightness(0) saturate(100%) invert(11%) sepia(76%) saturate(4321%)
    hue-rotate(201deg) brightness(86%) contrast(102%);
}
