/*Version *
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(36, 96, 119);
}

main {
  background-color: rgb(109, 146, 160);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 40px;
}
.container {
  display: flex;
  flex-direction: column;
}

.myname {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 9px 5px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

.hello {
  min-width: 360px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: auto;
}

.selfie {
  min-width: 100px;
  max-width: 300px;
  border-radius: 20px;
  height: auto;
  object-fit: cover;
}

.hellotext {
  align-self: flex-start;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 2px auto;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

header {
  position: sticky;
  top: 0px;
  background-color: rgb(109, 146, 160);
  border-radius: 0 20px;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 9px 5px 2px rgba(0, 0, 0, 0.5);
}

.nickname {
  font-size: 20px;
}

.profiles,
.aboutme,
.skills,
.projects,
.contact {
  background-color: rgb(109, 146, 160);
  border-radius: 20px;
  margin-bottom: 20px;
  width: 600px;
  margin: auto;
}

.aboutme {
  width: 60%;
}
*/
html {
  /* background-color: rgb(222, 240, 243); */
  background-image: url(https://cdn.pixabay.com/photo/2016/12/18/02/35/paper-1914901_1280.jpg);
}

body {
  width: 600px;
  margin: auto;
}

h1 {
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 4px 8px rgba(51, 63, 86, 0.647);
  padding: 20px;
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  padding: 5px 5px;
}

header a {
  font-family: monospace;
  text-decoration: none;
  color: rgb(47, 115, 125);
  font-size: 18px;
  font-weight: bolder;
  text-shadow: 3px 3px 5px rgba(78, 141, 150, 0.5);
}

.logo {
  font-family: "Pacifico", cursive;
  color: rgb(78, 141, 150);
  font-size: 18px;
  text-shadow: 3px 3px 5px rgba(78, 141, 150, 0.7);
  letter-spacing: 1px;
}

.main-container {
  border-radius: 100px 20px 20px 100px;
  margin-top: 10px;
  background-color: rgb(173, 212, 218);
  width: auto;
  height: 200px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(78, 141, 150, 0.5);
}

.foto {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

.aboutme {
  background-color: rgba(78, 141, 150, 0.2);
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 50px 50px;
}

.skills {
  background-color: rgba(78, 141, 150, 0.2);
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 50px 50px;
}

.info {
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.mission {
  font-size: 18px;
  font-weight: bolder;
}

.projects {
  background-color: rgba(78, 141, 150, 0.2);
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 50px 50px;
}

.cards-border {
  display: flex;
  gap: 20px;
}

.project-card {
  border: beige solid 1px;
  border-radius: 50px 50px;
  padding: 10px;
}

.projects img {
  width: 100px;
  height: 100px;
}
/* Bildschirme bis 480px Breite */
@media (max-width: 600px) {
  .cards-border {
    display: flex;
    flex-direction: column; /* Eine Spalte */
    gap: 20px;
  }

  .project-card {
    flex: 1 1 100%; /* Eine Karte pro Zeile */
  }
}

@media (min-width: 900px) {
  body {
    width: 70%;
  }
  */ .logo {
    font-size: 30px;
  }

  .nav-container {
    font-size: 30px;
  }
}
